.policeFamily { font-family: "Verdana"; text-align: center;}


footer { border: 0.2em solid black; height: 30%; margin: 10% 0 0 0;}


#picture {display: block; width: 100%; height: 50%;}
#pictureTroll {display: none;width: 100%; height: 50%;}
#titleTextHome { padding: 3% 0 0 0; text-align: center; font-size: 9em; color: black; font-family: "Verdana"; text-decoration: underline;}
#titleHome { margin: 14% 0 0 0; border: 0.2em solid black;}

#enterHome { margin: 12% 0 0 0;}
#enterTextHome { text-align: center; font-size: 6em; padding: 0 0 2% 0; animation: colorblink 2s infinite;}
@keyframes colorblink { 0% { }50% { background-color: #BDBDBD; }}


#optionHome { display: none; margin: 8% 0 0 0%;}
#optionInputHome { text-align: center; font-size: 4em; animation: colorblink 2s infinite;}
@keyframes colorblink { 0% { }50% { background-color: #BDBDBD; }}

/*			LOGIN		*/
@media only screen and (min-width: 900px)
{
	#loginHome { display: none; margin: 6% 0 0 25%; animation: colorblink 3s infinite;}
	@keyframes colorblink { 0% { }50% { background-color: #BDBDBD; }}
}
@media only screen and (max-width: 800px)
{
	#loginHome { display: none; margin: 6% 0 0 0%; animation: colorblink 3s infinite;}
	@keyframes colorblink { 0% { }50% { background-color: #BDBDBD; }}
}
#loginTitleHome { text-align: center; font-size: 4em;}
#loginCell { text-align: center; margin: 3% 0 0 0;}
#loginCellSubmit { text-align: center; margin: 3% 0 1% 35.5%; width: 30%; color: black}
#loginCellSubmit:hover { background-color: #BDBDBD }

#successLoginHome {
	text-align: center;
	display: none;
	width: 50%;
	border-radius: 500px;
	margin: 10% 0 0 25%;
	height: 4%;
	padding: 5px 0 0 0;
	background-color: #9CCC65;
}

#failLoginHome {
	text-align: center;
	display: none;
	width: 50%;
	border-radius: 500px;
	margin: 10% 0 0 25%;
	height: 4%;
	padding: 5px 0 0 0;
	background-color: #EF5350;
}

/*			END 			*/
/* 			SUBSCRIBE 		*/
#subscribeHome { display: none; margin: 8% 0 0 25%; animation: colorblink 3s infinite;}
@keyframes colorblink { 0% { }50% { background-color: #BDBDBD; }}
#subscribeTitleHome { margin: 3% 0 5% 0; text-align: center; font-size: 4em;}
#subscribeCell { text-align: center; margin: 4% 0 0 0;}
#subscribeCellSubmit { text-align: center; margin: 3% 0 1% 35.5%; width: 30%; color: black;}
#subscribeCellSubmit:hover { background-color: #BDBDBD }

#successSubscribeHome {
	text-align: center;
	display: none;
	width: 50%;
	border-radius: 500px;
	margin: 10% 0 0 25%;
	height: 4%;
	padding: 5px 0 0 0;
	background-color: #9CCC65;
}

#failSubscribeHome {
	text-align: center;
	display: none;
	width: 50%;
	border-radius: 500px;
	margin: 10% 0 0 25%;
	height: 4%;
	padding: 5px 0 0 0;
	background-color: #EF5350;
}

#takePictureHome {
    display: none;
    margin: 8% 0 0 25%;
    width: 80%;
    height: 80%;
}

#takePictureHome {
    display: none;
    margin: 8% 0 0 25%;
    width: 80%;
    height: 80%;
}






