
#liked {
	width: 50px
}
#no_like {
	width: 50px
}
#infoMessage {
	display:none;
	border-radius: 500px;
	height: 10%;
	margin: 15% 0 0 5%;
}

#zoomDescription
{
	display: none;
}

#zoomDiv {
	display: none;
	border: 1px solid black;
}

#fakeBody {
	background-color: black;
}

#galleryDiv {
	margin: 0 0 0 15%;
}

.galleryPicture {
	margin: 1% 0 0 1%;
}
#galleryPagination {
    display: inline-block;
    margin: 3% 0 0 39%;
}

#galleryPagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

#mediumTitle {
	text-align: center;
	width: 75%;
	margin: 1% 0 0 12.5%;
}

#loginDiv {
	display: none;
}

#trollPicture {
	display: none;
}

#photoPicture {
	width: 100%;
}

#titleDiv {
	border: 2px solid black;
}

#enter {
		text-align: center;
		font-size: 6em;
		font-family: "Verdana";
		padding: 0 0 0 0;
}

#enterDiv {
	width: 75%;
	margin: 15% 0 0 12.5%;
	animation: colorblink 3s infinite;
}

#optionDiv {
	margin: 13% 0 0 12.5%;
	display: none;
}

#optionText {
	width: 75%;
	margin: 2% 0 0 12.5%;
	text-align: center;
	font-size: 5em;
	font-family: "Verdana";
	animation: colorblink 3s infinite;
}

#subscribeDiv {
	display: none;
	margin: 10% 0 0 5%;
	animation: colorblink 3s infinite;
}
#submitButton {
	width: 30%;
	margin: 1% 0 3% 35%;
}
#submitButton:hover { background-color: #BDBDBD }
.group {
	width: 30%;
	margin: 1% 0 0 35%;
}

#loginDiv {
	display: none;
	animation: colorblink 3s infinite;
	margin: 10% 0 0 5%;
}


#galleryDiv {
	margin: 5% 0 0 23%;
	display: none;
}

@keyframes colorblink { 0% { }50% { background-color: #BDBDBD;}}
@media only screen and (min-width: 1400px) {

	#title {
		text-align: center;
		font-size: 9em;
		font-family: "Verdana";
		padding: 3% 0 0 0;
	}

	#optionText {
		width: 75%;
		margin: 2% 0 0 12.5%;
		text-align: center;
		font-size: 5em;
		font-family: "Verdana";
		animation: colorblink 3s infinite;
	}

}
@media only screen and (max-width: 1399px) and (min-width: 501px){

	#title {
		text-align: center;
		font-size: 7em;
	}

	#optionText {
		width: 75%;
		margin: 2% 0 0 12.5%;
		text-align: center;
		font-size: 3em;
		font-family: "Verdana";
		animation: colorblink 3s infinite;
	}

}
@media only screen and (max-width: 500px) {

	#title {
		text-align: center;
		font-size: 5em;
		font-family: "Verdana";
		padding: 3% 0 0 0;
	}

	#trollPicture {
		display: none;
		padding: 0 0 2% 0;
	}

	#photoPicture {
		display: block;
		width: 100%;
		padding: 0 0 2% 0;
	}
}

#zoomComments {
	overflow: auto;
}




/* webkit solution */
::-webkit-input-placeholder { text-align:center; }
/* mozilla solution */
input:-moz-placeholder { text-align:center; }