<div class="container" id="zoomDiv">
	<div class="row" >
		<div class="col" >
			<div id="zoomDescription">
				<b>Description : </b>
				<p id="zoomDescriptionText"></p>
				<img id="zoomPicture">
			</div>
		</div>
		<div class="col">
			<div id="zoomComments"></div>
			<div id="zoomAddComments"></div>
		</div>
		<div class="w-100"></div>
		<div class="col">
			<img id="liked" onclick="unlikePicture() ;" src="/ressources/images/liked.svg">
			<img id="no_like" onclick="likePicture();" src="/ressources/images/no_like.svg">
		</div>
	</div>
</div>
</div>