<div class="row" id="galleryDiv">
	<section  id="filtered" class="col">
		<b class="filter" onclick="filter('mostLike');">. Les plus liké</b>
		<b class="filter" onclick="filter('myLike');">. Vos likes</b>
		<br/>
		<b class="filter" onclick="filter('myLike');">. Les plus vues</b>
		<b class="filter" onclick="filter('myLike');">. Les nouveautées</b>
		<br/>
		<b class="filter" onclick="filter('myLike');">. All</b>
		<b class="filter" onclick="filter('myLike');">. Mes photos</b>
	</section>
	<section  class="col-lg-12">
		<div id="galleryDivPicture"></div>
	</section>
	<div id="galleryPagination"></div>
</div>