<div class="row" id="loginDiv">
	<section  class="col-lg-12">
		<aside >
			<h1 id="mediumTitle">Se connecter :</h1>
		</aside>
		<aside >
			<div class="group">
				<input onclick="check_input('loginLogin')" id="loginLogin" name="login" type="text" required>
				<span class="highlight"></span>
				<span  class="bar"></span>
				<label>Login</label>
			</div>
		</aside>
		<aside >
			<div class="group">
				<input onclick="check_input('passwdLogin')" id="passwdLogin" name="passwd" type="password" required>
				<span class="highlight"></span>
				<span class="bar"></span>
				<label>Mot de passe</label>
			</div>
		</aside>
		<aside >
			<input id="submitButton" type="submit" placeholder="password" onclick="login_user()">
		</aside>
		<aside id="reinitPassword">
			<a href="#" onclick="reinitPassword();">Mot de passe oublié ? </a>
		</aside>
	</section>
</div>