<div class="row" id="loginDiv">
	<section  class="col-lg-12">
		<aside >
			<h1 id="mediumTitle">Se connecter :</h1>
		</aside>
		<aside >
			<div class="group">
				<input id="loginLogin" name="login" type="text" required>
				<span class="highlight"></span>
				<span onclick="check_input('login')" class="bar"></span>
				<label>Login</label>
			</div>
		</aside>
		<aside >
			<div class="group">
				<input id="passwdLogin" name="passwd" type="text" required>
				<span class="highlight"></span>
				<span onclick="check_input('passwd')" class="bar"></span>
				<label>Mot de passe</label>
			</div>
		</aside>
		<aside >
			<input id="submitButton" type="submit" placeholder="password" onclick="login_user()">
		</aside>
	</section>
</div>