<div class="row" id="optionDiv">
	<section class="col-lg-12" >
		<h1 id="optionText" onclick="login()">Se connecter</h1>
		<h1 id="optionText" onclick="subscribe()">S'inscrire</h1>
		<h1 id="optionText" onclick="gallery();">Voir la gallerie</h1>
	</section>
</div>
<div class="row" id="optionDivLogin">
	<section class="col-lg-12" >
		<h1 id="optionTextLogin" onclick="modifyInformation()">Modifier mes informations</h1>
		<h1 id="optionTextLogin" onclick="takePicture();">Prendre une photo</h1>
		<h1 id="optionTextLogin" onclick="gallery();">Parcourir la galerie</h1>
		<h1 id="optionTextLogin" onclick="disconnect();">Se déconnecter</h1>
	</section>
</div>