<script type="text/javascript" src="/controllers/header.controller.js"></script>
<script type="text/javascript" src="/controllers/detailPicture.controller.js"></script>
<script type="text/javascript" src="/controllers/enter.controller.js"></script>
<script type="text/javascript" src="/controllers/footer.controller.js"></script>
<script type="text/javascript" src="/controllers/gallery.controller.js"></script>
<script type="text/javascript" src="/controllers/home_controller.js"></script>
<script type="text/javascript" src="/controllers/login.controller.js"></script>
<script type="text/javascript" src="/controllers/option.controller.js"></script>
<script type="text/javascript" src="/controllers/subscribe.controller.js"></script>
<script type="text/javascript" src="/controllers/modifierInformation.controller.js"></script>
<script type="text/javascript" src="/controllers/reinitPassword.controller.js"></script>
<script type="text/javascript" src="/controllers/cam.controller.js"></script>