<div class="row" id="subscribeDiv">
<section  class="col-lg-12">
	<div> <h1 id="mediumTitle">Inscription:</h1> </div>
	<div>
		<div class="group">
			<input onclick="check_input('subscribeEmail')" id="subscribeEmail" name="email" type="text" required>
			<span class="highlight"></span> 
			<span class="bar"></span>
			<label >Email</label>
		</div>
	</div>
	<div >
		<div class="group">
			<input onclick="check_input('subscribeLogin')" id="subscribeLogin" name="login" type="text" required>
			<span class="highlight"></span>
			<span oclass="bar"></span>
			<label >Login</label>
		</div>
	</div>
	<div >
		<div class="group">
			<input onclick="check_input('subscribePasswd')"  id="subscribePasswd" name="passwd" type="password" required>
			<span class="highlight"></span>
			<span class="bar"></span>
			<label>Mot de passe</label>
		</div>
	</div>
	<div >
		<div class="group">
			<input onclick="check_input('subscribePasswdClone')" id="subscribePasswdClone" name="passwdClone" type="password" required>
			<span class="highlight"></span>
			<span class="bar"></span>
			<label>Mot de passe</label>
		</div>
	</div>
	<div >
		<input id="submitButton" type="submit" placeholder="password" onclick="create_user()">
	</div>
</section>
</div>